body{
    font-family: monospace;
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1px, transparent 1px);
    
    /* This controls the size of the grid squares (40px by 40px) */
    background-size: 30px 30px;
}

.window{
    width: 75vw;
    max-width:1200px;
    aspect-ratio: 16/9;
    background-color: #f7f3d6;
    border: 3px solid  black;
    border-radius: 21px;
    margin:0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5em 0.5em black;
}

.titlebar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 205, 205);
    padding: 4px 20px;
    border-bottom: 3px solid  black;
    height: 3vh;
}

.titlebar .buttons{
    align-self: center;
    background-color: #ff5c60;
    height: 14px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    box-shadow: 
    20px 0px #fac800,
    40px 0px #35c759;
    margin-right: 40px;
    filter: drop-shadow(2px 2px  #000000);
}

.titlebar .title{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.timedate{
    align-items: center;
    display: flex;
    gap: 15px;
}

.timedate img{
    filter: brightness(0);
}

.main{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    height: 100%;
    gap: 10px;
}

.main .row{
    display: flex;
    text-align: center;
    gap: 15px;
}
.desktop-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 70px;
    overflow: hidden;
}
.main img{
    width:40px;
    height: 40px;
}

.toolbar-area{
    flex: 0 0 auto;
    margin-top: auto;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    padding: 5px;
}

.toolbar{
    margin-top:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    border: 0.15em solid black;
    border-radius: 12px;
    height: 30%;
    width: fit-content;
    padding: 12px 16px;
    margin-bottom: 5px;
}

.toolbar img{
    height: 30px;
}
